@import "bourbon/bourbon"

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, samp, small,
strike, strong, sub, sup, tt, var, b, i,
dl, dt, dd, ol, ul, li, fieldset, form,
label, legend, table, caption, tbody, tfoot,
thead, tr, th, td, article, aside, canvas,
details, embed, figure, figcaption, footer,
header, hgroup, nav, output, ruby, section,
time, mark, audio, video
	margin: 0
	padding: 0
	border: 0
	font-size: 100%
	font: inherit
	vertical-align: baseline

button, button:active, button:focus,
input, input:active, input:focus
	outline: none

ol, ul
	list-style: none

.clearfix
	&:after
		content: ''
		display: table
		clear: both
	&:before
		content: ''
		display: table

a
	color: #fff
	&:hover, &:active, &:focus
		color: #202e31
		text-decoration: none
		outline: none

button
	border: none
	background-color: transparent

textarea
	resize: none

option
	font-family: "PTSansNarrowBold",sans-serif
	padding-left: 12px
	font-size: em(14px)
/*Слайдер стили*/
.bx-wrapper
	position: relative
.bx-controls
	position: absolute
	bottom: 18px
	left: 20px
.bx-pager
	@extend .clearfix
.bx-pager-item
	display: block
	float: left
	margin-right: 12px
.bx-pager-link
	width: 12px
	height: 12px
	border-radius: 50%
	display: block
	background-color: #fff
	text-indent: -9999px
.active
	background-color: #eec43c

.mfp-close
	background-color: #000 !important
	opacity: 1
	height: 30px
	line-height: 25px
	width: 30px
	border-radius: 50%
	border: 2px solid #fff !important
	color: #fff !important
	right: -14px
	top: -12px
	font-family: "Arial", sans-serif
	font-weight: bold
	font-size: em(18px)
	text-align: center
.mfp-close:active
	top: -12px
.card__wrapper
	.bx-pager
		@extend .clearfix
		padding-top: 16px
		a
			width: 100 / 3 + %
			display: block
			text-align: center
			float: left
		.active
			background-color: #fff
.card-slider
	li
		text-align: center
		padding-bottom: 14px
		a
			display: block
.card
	.bx-viewport
		
		cursor: pointer
		&::after
			content: ''
			background-image: url(../img/loupe-plus.png)
			background-position: center
			width: 27px
			height: 29px
			display: block
			position: absolute
			left: 0
			bottom: 0
			z-index: 999
/**/
.popup
	position: absolute
	height: 100%
	width: 100%
	top: 0
	left: 0
	display: none
	text-align: center

.popup_bg
	background: rgba(0,0,0,0.4)
	position: absolute
	z-index: 1
	height: 100%
	width: 100%

.popup-img-active
	position: fixed
	left: 50%
	top: 50%
	transform: translateY(-50%)
	z-index: 2
	width: 200px
	margin-left: -100px
	height: auto
/*Дополнительные стили*/
.menu-txt
	padding-bottom: 4px
.t-page
	margin-top: 60px
.leaders__last
	width: 100%
	.leaders__wp
		float: left
	.leaders__wp-t
		float: right
.leaders-l
	position: absolute
	bottom: 0
/**/
.sl-w
	.bx-prev
		opacity: 0
	.bx-next
		opacity: 0
	.bx-viewport
		&::after
			display: none
.arrow-p
	float: right
.sl2
	display: none