html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, samp, small,
strike, strong, sub, sup, tt, var, b, i,
dl, dt, dd, ol, ul, li, fieldset, form,
label, legend, table, caption, tbody, tfoot,
thead, tr, th, td, article, aside, canvas,
details, embed, figure, figcaption, footer,
header, hgroup, nav, output, ruby, section,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

button, button:active, button:focus,
input, input:active, input:focus {
  outline: none;
}

ol, ul {
  list-style: none;
}

.clearfix:after, .bx-pager:after, .header-center__wrapper:after, .nav:after, .products__bottom:after, .footer-top__wrapper:after, .back-call__row:after {
  content: '';
  display: table;
  clear: both;
}

.clearfix:before, .bx-pager:before, .header-center__wrapper:before, .nav:before, .products__bottom:before, .footer-top__wrapper:before, .back-call__row:before {
  content: '';
  display: table;
}

a {
  color: #fff;
}

a:hover, a:active, a:focus {
  color: #202e31;
  text-decoration: none;
  outline: none;
}

button {
  border: none;
  background-color: transparent;
}

textarea {
  resize: none;
}

/*defff*/
.bx-wrapper {
  position: relative;
}

.bx-controls {
  position: absolute;
  bottom: 18px;
  left: 20px;
}

.bx-pager-item {
  display: block;
  float: left;
  margin-right: 12px;
}

.bx-pager-link {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  display: block;
  background-color: #fff;
  text-indent: -9999px;
}

.active {
  background-color: #eec43c;
}

.mfp-close {
  background-color: #000 !important;
  opacity: 1;
  height: 30px;
  line-height: 25px;
  width: 30px;
  border-radius: 50%;
  border: 2px solid #fff !important;
  color: #fff !important;
  right: -14px;
  top: -12px;
  font-family: "Arial", sans-serif;
  font-weight: bold;
  font-size: 1.125em;
  text-align: center;
}

.mfp-close:active {
  top: -12px;
}

body {
  font-size: 16px;
  min-width: 320px;
  position: relative;
  line-height: 1.25;
  font-family: "Exo2Regular", sans-serif;
  overflow-x: hidden;
}

.hidden {
  display: none;
}

.header-top {
  height: 50px;
  background-color: #202e31;
}

.header-center {
  background-color: #ffc13c;
}

.header-center__wrapper {
  width: 100%;
}

.header-center__logo {
  width: 30.9%;
  padding-left: 9px;
  padding-top: 30px;
  padding-bottom: 26px;
  float: left;
}

.header-center__search {
  width: 42.1%;
  float: left;
  padding-top: 35px;
  padding-bottom: 62px;
}

.header-center__authentication {
  width: 16.4%;
  float: left;
  padding-top: 35px;
  padding-bottom: 62px;
}

.header-center__basket {
  width: 7.9px%;
  padding-right: 30px;
  padding-top: 27px;
  padding-bottom: 57px;
  float: right;
}

.nav {
  padding-left: 9px;
}

.nav__item {
  float: left;
  display: block;
}

.nav__link {
  padding: 0 10px;
  line-height: 50px;
  font-size: 0.75em;
  display: block;
}

.nav__link::after {
  content: '';
  height: 0;
  width: 0;
  border-top: 11px solid transparen;
  border-left: 8px solid transparen;
  position: absolute;
  top: 0;
  right: 0;
}

.nav__link-active, .nav__link:hover {
  background-color: #ffc13c;
  color: #202e31;
  position: relative;
}

.nav__link-active::after, .nav__link:hover::after {
  height: 0;
  width: 0;
  border-top: 11px solid #202e31;
  border-left: 8px solid #ffc13c;
}

.phone {
  text-align: right;
  padding-right: 11px;
}

.phone__number {
  color: #fff;
  font-size: 1.5em;
  display: block;
  line-height: 100%;
  text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.82);
}

.phone__communication {
  color: #ffc13c;
  font-size: 0.75em;
  line-height: 100%;
  border-bottom: 1px solid #ffc13c;
}

.phone__communication:hover, .phone__communication:active, .phone__communication:focus {
  color: #fff;
  border-color: #fff;
}

.logo {
  display: inline-block;
  width: 256px;
  height: 73px;
}

.search {
  max-width: 386px;
}

.search__wrapper {
  background-color: #252e31;
  display: block;
  color: #fff;
  font-size: 0.875em;
  height: 36px;
  line-height: 36px;
  padding-left: 12px;
  position: relative;
}

.search__wrapper::after {
  content: '';
  height: 0;
  width: 0;
  border-top: 11px solid #ffc13c;
  border-left: 8px solid #202e31;
  position: absolute;
  right: 0;
  top: 0;
}

.search__input {
  position: absolute;
  width: 288px;
  height: 30px;
  top: 50%;
  margin-top: -15px;
  left: 63px;
  color: #000;
  padding: 0 5px;
}

.search__button {
  width: 12px;
  height: 14px;
  display: block;
  position: absolute;
  top: 50%;
  right: 12px;
  margin-top: -7px;
  background-image: url(../img/smart-o/arrow.png);
  background-repeat: no-repeat;
  background-position: center;
}

.authentication {
  text-align: center;
  border: 2px solid #202e31;
  padding: 4px 0;
  width: 164px;
}

.authentication__link {
  font-family: "PTSansNarrowRegular", sans-serif;
  display: inline-block;
  text-transform: uppercase;
  font-size: 0.625em;
  line-height: 1.1;
  color: #202e31;
  transform: scaleY(1.2);
  -webkit-transform: scaleY(1.2);
  -ms-transform: scaleY(1.2);
  text-decoration: underline;
}

.basket {
  display: block;
  width: 49px;
  height: 49px;
  border-radius: 50%;
  border: 2px solid #202e31;
  background-image: url(../img/smart-o/basket.png);
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
}

.basket__quantity {
  position: absolute;
  right: -16px;
  top: -4px;
  color: #fff;
  font-size: 0.75em;
  background-color: #202e31;
  height: 14px;
  line-height: 14px;
  width: 33px;
  display: block;
  border-radius: 7px;
  text-align: center;
}

.head, .slider-head {
  position: relative;
}

.head-menu, .slider-head-menu {
  background-color: #ffc13c;
  padding-bottom: 67px;
  z-index: 2;
}

.head-menu__menu, .slider-head-menu__menu {
  width: 100%;
}

.menu__item {
  background-color: #fff;
  display: inline-block;
  height: 40px;
  position: relative;
}

.menu__item::after {
  content: '';
  height: 0;
  width: 0;
  border-top: 11px solid #ffc13c;
  border-left: 8px solid #fff;
  position: absolute;
  right: 0;
  top: 0;
}

.menu__link {
  color: #202e31;
  display: block;
  line-height: 40px;
  padding: 0 12px;
  text-transform: uppercase;
  font-family: "Exo2Bold", sans-serif;
}

.submenu {
  position: absolute;
  top: 42px;
  left: 0;
  right: 0;
  z-index: 999;
  display: block;
  background-color: #fff;
  -webkit-box-shadow: 2px 4px 4px 0px #040505;
  -moz-box-shadow: 2px 4px 4px 0px #040505;
  box-shadow: 2px 4px 4px 0px #040505;
  display: none;
}

.submenu__item {
  display: block;
  border-bottom: 1px solid #e1e1e1;
  padding: 0 2px;
}

.submenu__item:last-child {
  border-bottom: none;
}

.submenu__link {
  display: block;
  width: 100%;
  text-align: center;
  color: #202e31;
  font-family: "PTSansNarrowRegular", sans-serif;
  line-height: 1.25;
  font-size: 0.8125em;
  padding: 8px 16px;
  text-align: left;
}

.submenu__link:hover {
  background-color: #ffc13c;
  height: 100%;
}

.head-bottom {
  padding-bottom: 4px;
}

.head-slider__slider {
  margin-top: -63px;
  z-index: 999;
  background-color: #fff;
  padding: 12px;
}

.novelty {
  padding: 0 12px;
  margin-bottom: 35px;
}

.novelty__title {
  font-size: 2.25em;
  font-family: "Exo2Bold", sans-serif;
  text-transform: uppercase;
  color: #202e31;
  letter-spacing: 1.2px;
  text-align: center;
  background-color: #fff;
  display: inline-block;
  height: 30px;
  margin-top: -3px;
  padding: 0 8px;
}

.novelty__title-wrapper {
  content: '';
  height: 25px;
  line-height: 25px;
  width: 100%;
  background-color: #eec53d;
  display: block;
  text-align: center;
}

.products {
  padding: 0 2px;
}

.products__item {
  border: 1px solid #cdcdd1;
  padding: 24px;
  margin-bottom: 30px;
}

.products__img {
  width: 150px;
  height: auto;
  display: block;
  margin: 0 auto;
}

.products__title {
  font-family: "PTSansNarrowRegular", sans-serif;
  text-decoration: underline;
  font-size: 0.75em;
  color: #0169bf;
}

.products__bottom {
  width: 100%;
}

.products__price {
  font-family: "OpenSansRegular", sans-serif;
  color: #202e31;
  display: block;
  float: left;
}

.products__price-first {
  font-size: 1.25em;
  padding-right: 3px;
}

.products__button {
  font-family: "PTSansNarrowBold", sans-serif;
  background-color: #ffc13c;
  display: block;
  float: right;
  padding: 0 12px;
  color: #202e31;
  height: 27px;
  line-height: 27px;
  text-transform: uppercase;
  margin-right: -16px;
}

.footer-top {
  height: 31px;
}

.footer-top__wrapper {
  width: 100%;
  background-color: #202e31;
}

.footer-bottom {
  padding-top: 18px;
  padding-bottom: 98px;
}

.footer-copyright {
  border-top: 3px solid #ffc13c;
}

.b-nav {
  padding-left: 0;
}

.b-nav__link {
  line-height: 31px;
}

.b-nav__link:hover {
  background-color: #ffc13c;
  color: #202e31;
  position: relative;
}

.b-nav__link:hover::after {
  display: none;
}

.b-nav__link-active {
  background-color: transparent;
  color: #fff;
  line-height: 31px;
}

.b-nav__link-active::after {
  display: none;
}

.b-phone {
  padding-right: 0;
}

.b-phone__number {
  line-height: 31px;
}

.i-categories {
  padding-left: 16px;
}

.i-equipment {
  padding-left: 50px;
}

.i-delivery {
  padding-left: 41px;
  padding-right: 66px;
}

.information__wrapper {
  padding-top: 12px;
}

.information__title {
  font-family: "Exo2Bold", sans-serif;
  font-size: 1.125em;
  color: #252e31;
  line-height: 1.30;
  text-transform: uppercase;
}

.information__item {
  display: block;
}

.information__link, .information__description {
  display: inline-block;
  font-size: 12px;
  transform: scaleY(1.2);
  -webkit-transform: scaleY(1.2);
  -ms-transform: scaleY(1.2);
  color: #252e31;
  font-family: "PTSansNarrowRegular", sans-serif;
  line-height: 22px;
}

.information__link:hover, .information__description:hover {
  text-decoration: underline;
}

.information__description {
  line-height: 19.2px;
  padding: 13px 0 0;
  display: inline-block;
}

.information__description:hover {
  text-decoration: none;
}

.copyright {
  text-align: center;
  padding: 16px 0;
}

.copyright__description {
  display: inline-block;
  font-family: "OpenSansRegular", sans-serif;
  color: #4c4c4c;
  font-size: 0.75em;
  line-height: 1.25;
}

/*BACK-CALL*/
.back-call {
  background-color: #fff !important;
  max-width: 743px;
  padding-left: 20px;
  padding-right: 13px;
  padding-top: 10px;
  margin: auto;
  position: relative;
}

.back-call__title {
  font-family: "Exo2Bold", sans-serif;
  font-size: 1.375em;
  color: #202e31;
  margin-bottom: 16px;
  text-transform: uppercase;
}

.back-call__info {
  font-family: "PTSansNarrowRegular", sans-serif;
  font-size: 0.6875em;
  transform: scaleY(1.2);
  -webkit-transform: scaleY(1.2);
  -ms-transform: scaleY(1.2);
  line-height: 1.5;
  display: block;
  margin-top: 26px;
}

.back-call__label {
  display: inline-block;
  font-family: "PTSansNarrowRegular", sans-serif;
  font-size: 0.9375em;
  line-height: 1.25;
  color: #191919;
  transform: scaleY(1.2);
  -webkit-transform: scaleY(1.2);
  -ms-transform: scaleY(1.2);
  padding-bottom: 3px;
  margin-left: 6px;
}

.back-call__label-phone {
  position: relative;
}

.back-call__label-phone::after {
  content: '*';
  position: absolute;
  top: -1px;
  right: 5px;
  display: block;
  font-size: 0.9375em;
  color: #da2413;
}

.back-call__label-span {
  margin-left: 8px;
}

.back-call__input, .back-call__text-area {
  display: block;
  padding-left: 12px;
  padding-right: 12px;
  border: 1px solid #cecece;
  border-radius: 6px;
  height: 30px;
  font-family: "PTSansNarrowRegular", sans-serif;
  width: 100%;
}

.back-call__text-area {
  display: block;
  height: 95px !important;
  padding-top: 3px;
}

.back-call__row {
  width: 100%;
  padding-bottom: 8px;
}

.back-call__row-bt {
  width: 100%;
  text-align: right;
  padding-bottom: 30px;
  padding-top: 12px;
}

.back-call__row-c-first {
  width: 32.67606%;
  float: left;
}

.back-call__row-c-last {
  width: 65.6338%;
  float: right;
}

.back-call__button {
  display: inline-block;
  padding: 0 78px;
  height: 48px;
  line-height: 48px;
  color: #fff;
  font-family: "PTSansNarrowRegular", sans-serif;
  font-size: 0.9375em;
  transform: scaleY(1.2);
  -webkit-transform: scaleY(1.2);
  -ms-transform: scaleY(1.2);
  border-radius: 4px;
  -webkit-box-shadow: 0px 2px 0px 0px #02080a;
  -moz-box-shadow: 0px 2px 0px 0px #02080a;
  box-shadow: 0px 2px 0px 0px #02080a;
  background: #9dcf74;
  background: -moz-linear-gradient(top, #9dcf74 0%, #64933a 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, #9dcf74), color-stop(100%, #64933a));
  background: -webkit-linear-gradient(top, #9dcf74 0%, #64933a 100%);
  background: -o-linear-gradient(top, #9dcf74 0%, #64933a 100%);
  background: -ms-linear-gradient(top, #9dcf74 0%, #64933a 100%);
  background: linear-gradient(to bottom, #9dcf74 0%, #64933a 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9dcf74', endColorstr='#64933a', GradientType=0 );
}
