@charset "UTF-8";
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, samp, small,
strike, strong, sub, sup, tt, var, b, i,
dl, dt, dd, ol, ul, li, fieldset, form,
label, legend, table, caption, tbody, tfoot,
thead, tr, th, td, article, aside, canvas,
details, embed, figure, figcaption, footer,
header, hgroup, nav, output, ruby, section,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

button, button:active, button:focus,
input, input:active, input:focus {
  outline: none;
}

ol, ul {
  list-style: none;
}

.clearfix:after, .bx-pager:after, .card__wrapper .bx-pager:after, .header-center__wrapper:after, .nav:after, .products__bottom:after, .footer-top__wrapper:after, .back-call__row:after, .checkout-top:after, .checkout-n:after, .checkout-b__top:after, .checkout-b__wrapper:after, .checkout-b__row:after, .c-bar__row:after, .basket-left__top:after, .basket-left__item:after, .basket-left__item-col:after, .c-description__tabs-wrapper:after, .quick-order-item:after, .leaders__first:after, .leaders__last:after {
  content: '';
  display: table;
  clear: both;
}

.clearfix:before, .bx-pager:before, .card__wrapper .bx-pager:before, .header-center__wrapper:before, .nav:before, .products__bottom:before, .footer-top__wrapper:before, .back-call__row:before, .checkout-top:before, .checkout-n:before, .checkout-b__top:before, .checkout-b__wrapper:before, .checkout-b__row:before, .c-bar__row:before, .basket-left__top:before, .basket-left__item:before, .basket-left__item-col:before, .c-description__tabs-wrapper:before, .quick-order-item:before, .leaders__first:before, .leaders__last:before {
  content: '';
  display: table;
}

a {
  color: #fff;
}

a:hover, a:active, a:focus {
  color: #202e31;
  text-decoration: none;
  outline: none;
}

button {
  border: none;
  background-color: transparent;
}

textarea {
  resize: none;
}

option {
  font-family: "PTSansNarrowBold",sans-serif;
  padding-left: 12px;
  font-size: 0.875em;
}

/*Слайдер стили*/
.bx-wrapper {
  position: relative;
}

.bx-controls {
  position: absolute;
  bottom: 18px;
  left: 20px;
}

.bx-pager-item {
  display: block;
  float: left;
  margin-right: 12px;
}

.bx-pager-link {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  display: block;
  background-color: #fff;
  text-indent: -9999px;
}

.active {
  background-color: #eec43c;
}

.mfp-close {
  background-color: #000 !important;
  opacity: 1;
  height: 30px;
  line-height: 25px;
  width: 30px;
  border-radius: 50%;
  border: 2px solid #fff !important;
  color: #fff !important;
  right: -14px;
  top: -12px;
  font-family: "Arial", sans-serif;
  font-weight: bold;
  font-size: 1.125em;
  text-align: center;
}

.mfp-close:active {
  top: -12px;
}

.card__wrapper .bx-pager {
  padding-top: 16px;
}

.card__wrapper .bx-pager a {
  width: 33.33333%;
  display: block;
  text-align: center;
  float: left;
}

.card__wrapper .bx-pager .active {
  background-color: #fff;
}

.card-slider li {
  text-align: center;
  padding-bottom: 14px;
}

.card-slider li a {
  display: block;
}

.card .bx-viewport {
  cursor: pointer;
}

.card .bx-viewport::after {
  content: '';
  background-image: url(../img/loupe-plus.png);
  background-position: center;
  width: 27px;
  height: 29px;
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 999;
}

/**/
.popup {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  display: none;
  text-align: center;
}

.popup_bg {
  background: rgba(0, 0, 0, 0.4);
  position: absolute;
  z-index: 1;
  height: 100%;
  width: 100%;
}

.popup-img-active {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translateY(-50%);
  z-index: 2;
  width: 200px;
  margin-left: -100px;
  height: auto;
}

/*Дополнительные стили*/
.menu-txt {
  padding-bottom: 4px;
}

.t-page {
  margin-top: 60px;
}

.leaders__last {
  width: 100%;
}

.leaders__last .leaders__wp {
  float: left;
}

.leaders__last .leaders__wp-t {
  float: right;
}

.leaders-l {
  position: absolute;
  bottom: 0;
}

/**/
.sl-w .bx-prev {
  opacity: 0;
}

.sl-w .bx-next {
  opacity: 0;
}

.sl-w .bx-viewport::after {
  display: none;
}

.arrow-p {
  float: right;
}

body {
  font-size: 16px;
  min-width: 320px;
  position: relative;
  line-height: 1.25;
  font-family: "Exo2Regular", sans-serif;
  overflow-x: hidden;
  width: 100% !important;
}

.hidden {
  display: none;
}

.header-top {
  height: 50px;
  background-color: #202e31;
}

.header-center {
  background-color: #ffc13c;
}

.header-center__wrapper {
  width: 100%;
}

.header-center__logo {
  width: 30.9%;
  padding-left: 9px;
  padding-top: 30px;
  padding-bottom: 26px;
  float: left;
}

.header-center__search {
  width: 42.1%;
  float: left;
  padding-top: 35px;
  padding-bottom: 62px;
}

.header-center__authentication {
  width: 16.4%;
  float: left;
  padding-top: 35px;
  padding-bottom: 62px;
}

.header-center__basket {
  width: 7.9px%;
  padding-right: 30px;
  padding-top: 27px;
  padding-bottom: 57px;
  float: right;
}

.nav {
  padding-left: 9px;
}

.nav__item {
  float: left;
  display: block;
}

.nav__link {
  padding: 0 10px;
  line-height: 50px;
  font-size: 0.75em;
  display: block;
}

.nav__link::after {
  content: '';
  height: 0;
  width: 0;
  border-top: 11px solid transparen;
  border-left: 8px solid transparen;
  position: absolute;
  top: 0;
  right: 0;
}

.nav__link-active, .nav__link:hover {
  background-color: #ffc13c;
  color: #202e31;
  position: relative;
}

.nav__link-active::after, .nav__link:hover::after {
  height: 0;
  width: 0;
  border-top: 11px solid #202e31;
  border-left: 8px solid #ffc13c;
}

.nav__toggle {
  display: none;
}

.phone {
  text-align: right;
  padding-right: 11px;
}

.phone__number {
  color: #fff;
  font-size: 1.5em;
  display: block;
  line-height: 100%;
  text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.82);
}

.phone__communication {
  color: #ffc13c;
  font-size: 0.75em;
  line-height: 100%;
  border-bottom: 1px solid #ffc13c;
}

.phone__communication:hover, .phone__communication:active, .phone__communication:focus {
  color: #fff;
  border-color: #fff;
}

.logo {
  display: inline-block;
  width: 256px;
  height: 73px;
}

.search {
  max-width: 386px;
  text-align: left !important;
}

.search__wrapper {
  background-color: #252e31;
  display: block;
  color: #fff;
  font-size: 0.875em;
  height: 36px;
  line-height: 36px;
  padding-left: 12px;
  position: relative;
}

.search__wrapper::after {
  content: '';
  height: 0;
  width: 0;
  border-top: 11px solid #ffc13c;
  border-left: 8px solid #202e31;
  position: absolute;
  right: 0;
  top: 0;
}

.search__input {
  position: absolute;
  width: 288px;
  height: 30px;
  top: 50%;
  margin-top: -15px;
  left: 63px;
  color: #000;
  padding: 0 5px;
}

.search__button {
  width: 12px;
  height: 14px;
  display: block;
  position: absolute;
  top: 50%;
  right: 12px;
  margin-top: -7px;
  background-image: url(../img/smart-o/arrow.png);
  background-repeat: no-repeat;
  background-position: center;
}

.authentication {
  text-align: center;
  border: 2px solid #202e31;
  width: 164px;
}

.authentication__link {
  font-family: "PTSansNarrowRegular", sans-serif;
  display: inline-block;
  text-transform: uppercase;
  font-size: 0.875em;
  line-height: 1;
  padding: 1px 0;
  color: #202e31;
  text-decoration: underline;
}

.basket {
  display: block;
  width: 49px;
  height: 49px;
  border-radius: 50%;
  border: 2px solid #202e31;
  background-image: url(../img/smart-o/basket.png);
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
}

.basket__quantity {
  position: absolute;
  right: -16px;
  top: -4px;
  color: #fff;
  font-size: 0.75em;
  background-color: #202e31;
  height: 14px;
  line-height: 14px;
  width: 33px;
  display: block;
  border-radius: 7px;
  text-align: center;
}

.head, .slider-head {
  position: relative;
}

.head-menu, .slider-head-menu {
  background-color: #ffc13c;
  padding-bottom: 67px;
  z-index: 2;
}

.head-menu__menu, .slider-head-menu__menu {
  width: 100%;
}

.menu__item {
  background-color: #fff;
  display: inline-block;
  position: relative;
}

.menu__item::after {
  content: '';
  height: 0;
  width: 0;
  border-top: 11px solid #ffc13c;
  border-left: 8px solid #fff;
  position: absolute;
  right: 0;
  top: 0;
}

.menu__item-first {
  background-color: #202e31;
  color: #fff;
}

.menu__item-first::after {
  height: 0;
  width: 0;
  border-top: 11px solid #ffc13c;
  border-left: 8px solid #202e31;
}

.menu__item-first .menu__link {
  color: #fff;
}

.menu__link {
  color: #202e31;
  display: block;
  padding: 12px 12px;
  text-transform: uppercase;
  font-family: "Exo2Bold", sans-serif;
}

.submenu {
  position: absolute;
  top: 42px;
  left: 0;
  right: 0;
  z-index: 999;
  display: block;
  background-color: #fff;
  -webkit-box-shadow: 2px 4px 4px 0px #040505;
  -moz-box-shadow: 2px 4px 4px 0px #040505;
  box-shadow: 2px 4px 4px 0px #040505;
  display: none;
}

.submenu__item {
  display: block;
  border-bottom: 1px solid #e1e1e1;
  padding: 0 2px;
}

.submenu__item:last-child {
  border-bottom: none;
}

.submenu__link {
  display: block;
  width: 100%;
  text-align: center;
  color: #202e31;
  font-family: "PTSansNarrowRegular", sans-serif;
  line-height: 1.25;
  font-size: 1em;
  padding: 8px 16px;
  text-align: left;
}

.submenu__link:hover {
  background-color: #ffc13c;
  height: 100%;
}

.head-bottom {
  padding-bottom: 4px;
}

.head-slider__slider {
  margin-top: -63px;
  z-index: 999;
  background-color: #fff;
  padding: 12px;
}

.products-wp {
  padding-top: 35px;
  padding-left: 12px;
  padding-right: 12px;
}

.novelty {
  margin: 0 12px 35px;
}

.novelty__title {
  font-size: 2.25em;
  font-family: "Exo2Bold", sans-serif;
  text-transform: uppercase;
  color: #202e31;
  letter-spacing: 1.2px;
  text-align: center;
  background-color: #fff;
  display: inline-block;
  height: 30px;
  margin-top: -3px;
  padding: 0 8px;
}

.novelty__title-wrapper {
  content: '';
  height: 25px;
  line-height: 25px;
  width: 100%;
  background-color: #eec53d;
  display: block;
  text-align: center;
}

.products {
  padding: 0 2px;
}

.products__item {
  border: 1px solid #cdcdd1;
  padding: 24px;
  margin-bottom: 30px;
}

.products__img {
  width: 150px;
  height: auto;
  display: block;
  margin: 0 auto;
}

.products__title {
  font-family: "PTSansNarrowRegular", sans-serif;
  text-decoration: underline;
  font-size: 0.875em;
  color: #0169bf;
  line-height: 1.25;
  margin-top: 8px;
  display: block;
}

.products__title:hover {
  color: #0169bf;
}

.products__vendor-code {
  font-size: 0.75em;
  color: #595959;
  font-family: "PTSansNarrowRegular", sans-serif;
}

.products__bottom {
  width: 100%;
}

.products__price {
  font-family: "PTSansNarrowBold", sans-serif;
  color: #38384a;
  display: block;
  float: left;
  font-size: 1.25em;
}

.products__button {
  font-family: "PTSansNarrowBold", sans-serif;
  background-color: #ffc13c;
  display: block;
  float: right;
  padding: 0 12px;
  color: #202e31;
  height: 27px;
  line-height: 27px;
  text-transform: uppercase;
  margin-right: -16px;
}

.footer-top {
  height: 31px;
}

.footer-top__wrapper {
  width: 100%;
  background-color: #202e31;
}

.footer-bottom {
  padding-top: 18px;
  padding-bottom: 98px;
}

.footer-copyright {
  border-top: 3px solid #ffc13c;
}

.b-nav {
  padding-left: 0;
}

.b-nav__link {
  line-height: 31px;
}

.b-nav__link:hover {
  background-color: #ffc13c;
  color: #202e31;
  position: relative;
}

.b-nav__link:hover::after {
  display: none;
}

.b-nav__link-active {
  background-color: transparent;
  color: #fff;
  line-height: 31px;
}

.b-nav__link-active::after {
  display: none;
}

.b-phone {
  padding-right: 0;
}

.b-phone__number {
  line-height: 31px;
}

.i-categories {
  padding-left: 16px;
}

.i-equipment {
  padding-left: 50px;
}

.i-delivery {
  padding-left: 41px;
  padding-right: 66px;
}

.information__wrapper {
  padding-top: 12px;
}

.information__title {
  font-family: "Exo2Bold", sans-serif;
  font-size: 1.125em;
  color: #252e31;
  line-height: 1.30;
  text-transform: uppercase;
}

.information__item {
  display: block;
}

.information__link, .information__description {
  display: inline-block;
  font-size: 14px;
  color: #252e31;
  font-family: "PTSansNarrowRegular", sans-serif;
  line-height: 22px;
}

.information__link:hover, .information__description:hover {
  text-decoration: underline;
}

.information__description {
  display: inline-block;
}

.information__description:hover {
  text-decoration: none;
}

.copyright {
  text-align: center;
  padding: 16px 0;
}

.copyright__description {
  display: inline-block;
  font-family: "OpenSansRegular", sans-serif;
  color: #4c4c4c;
  font-size: 0.75em;
  line-height: 1.25;
}

/*BACK-CALL*/
.back-call {
  background-color: #fff !important;
  max-width: 743px;
  padding-left: 20px;
  padding-right: 13px;
  padding-top: 10px;
  margin: auto;
  position: relative;
}

.back-call__title {
  font-family: "Exo2Bold", sans-serif;
  font-size: 1.375em;
  color: #202e31;
  margin-bottom: 16px;
  text-transform: uppercase;
}

.back-call__info {
  font-family: "PTSansNarrowRegular", sans-serif;
  font-size: 0.875em;
  line-height: 1.5;
  display: block;
  margin-top: 26px;
}

.back-call__label {
  display: inline-block;
  font-family: "PTSansNarrowRegular", sans-serif;
  font-size: 1.125em;
  line-height: 1.25;
  color: #191919;
  padding-bottom: 3px;
  margin-left: 6px;
}

.back-call__label-phone {
  position: relative;
}

.back-call__label-phone::after {
  content: '*';
  position: absolute;
  top: -1px;
  right: 5px;
  display: block;
  font-size: 0.9375em;
  color: #da2413;
}

.back-call__label-span {
  margin-left: 8px;
}

.back-call__input, .back-call__text-area {
  display: block;
  padding-left: 12px;
  padding-right: 12px;
  border: 1px solid #cecece;
  border-radius: 6px;
  height: 30px;
  font-family: "PTSansNarrowRegular", sans-serif;
  width: 100%;
}

.back-call__text-area {
  display: block;
  height: 95px !important;
  padding-top: 3px;
}

.back-call__row {
  width: 100%;
  padding-bottom: 8px;
}

.back-call__row-bt {
  width: 100%;
  text-align: right;
  padding-bottom: 30px;
  padding-top: 12px;
}

.back-call__row-c-first {
  width: 32.67606%;
  float: left;
}

.back-call__row-c-last {
  width: 65.6338%;
  float: right;
}

.back-call__button {
  display: inline-block;
  padding: 0 78px;
  height: 48px;
  line-height: 48px;
  color: #fff;
  font-family: "PTSansNarrowRegular", sans-serif;
  font-size: 1.125em;
  border-radius: 4px;
  -webkit-box-shadow: 0px 2px 0px 0px #02080a;
  -moz-box-shadow: 0px 2px 0px 0px #02080a;
  box-shadow: 0px 2px 0px 0px #02080a;
  background: #9dcf74;
  background: -moz-linear-gradient(top, #9dcf74 0%, #64933a 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, #9dcf74), color-stop(100%, #64933a));
  background: -webkit-linear-gradient(top, #9dcf74 0%, #64933a 100%);
  background: -o-linear-gradient(top, #9dcf74 0%, #64933a 100%);
  background: -ms-linear-gradient(top, #9dcf74 0%, #64933a 100%);
  background: linear-gradient(to bottom, #9dcf74 0%, #64933a 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9dcf74', endColorstr='#64933a', GradientType=0 );
}

/**/
.checkout-top, .checkout-n {
  background-color: #fff;
  display: inline-block;
}

.checkout-top__wrapper, .checkout-n__wrapper {
  margin-top: 27px;
  background-color: #ffc13c;
  height: 25px;
  margin-left: 12px;
  margin-right: 12px;
}

.checkout-top__item, .checkout-n__item {
  display: block;
  float: left;
  margin-left: 16px;
  position: relative;
  height: 25px;
  padding-top: 7px;
}

.checkout-top__item::before, .checkout-n__item::before {
  content: '/';
  position: absolute;
  left: -12px;
  bottom: -1px;
}

.checkout-top__item:first-child, .checkout-n__item:first-child {
  margin-left: 0;
}

.checkout-top__item:first-child::before, .checkout-n__item:first-child::before {
  display: none;
}

.checkout-top__item:last-child, .checkout-n__item:last-child {
  padding-top: 0;
}

.checkout-top__item:last-child .checkout-top__link, .checkout-n__item:last-child .checkout-top__link {
  display: block;
  padding-right: 16px;
  text-transform: uppercase;
  font-family: "Exo2Bold", sans-serif;
  font-size: 1.375em;
  letter-spacing: 0.5px;
  text-decoration: none;
}

.checkout-top__link, .checkout-n__link {
  color: #202e31;
  font-family: "PTSansNarrowRegular", sans-serif;
  display: block;
  font-size: 0.875em;
  text-decoration: underline;
}

.checkout-b {
  padding-top: 29px;
  padding-bottom: 114px;
}

.checkout-b__left {
  padding-right: 12px;
  padding-left: 12px;
}

.checkout-b__right {
  padding-right: 12px;
}

.checkout-b__top {
  width: 100%;
  background-color: #dedede;
  height: 40px;
  line-height: 40px;
  float: left;
}

.checkout-b__top-f {
  display: block;
  float: left;
  padding-left: 26px;
  font-family: "PTSansNarrowRegular", sans-serif;
  color: #191919;
  font-size: 0.875em;
  width: 68.7589%;
}

.checkout-b__top-r {
  display: block;
  float: right;
  font-family: "PTSansNarrowRegular", sans-serif;
  color: #191919;
  font-size: 0.875em;
  width: 26.2482%;
  list-style-type: lower-roman;
}

.checkout-b__wrapper {
  padding-bottom: 28px;
  border-bottom: 2px solid #dedede;
}

.checkout-b__first {
  width: 68.75892%;
  float: left;
}

.checkout-b__last {
  width: 26.24822%;
  float: right;
}

.checkout-b__row {
  padding-top: 14px;
}

.checkout-b__label {
  width: 155px;
  width: 32.78008%;
  display: block;
  text-align: right;
  float: left;
  font-family: "PTSansNarrowRegular", sans-serif;
  font-size: 1.125em;
  padding: 5px 0;
}

.checkout-b__label-span {
  padding-left: 6px;
  display: inline-block;
  position: relative;
}

.checkout-b__label-span::before {
  content: '*';
  color: #da2413;
  position: absolute;
  left: 0;
  top: 0;
}

.checkout-b__input, .checkout-b__select-wrapper {
  display: block;
  width: 64.73029%;
  padding-left: 12px;
  padding-right: 12px;
  border: 1px solid #cecece;
  border-radius: 6px;
  height: 30px;
  font-family: "PTSansNarrowRegular", sans-serif;
  float: right;
}

.checkout-b__select {
  opacity: 0;
  width: 100%;
  height: 28px;
  position: absolute;
  left: 0;
  right: 0;
}

.checkout-b__select-wrapper {
  position: relative;
}

.checkout-b__select-wrapper p {
  font-family: "PTSansNarrowBold", sans-serif;
  position: absolute;
  color: #12152f;
  font-size: 14px;
  height: 100%;
  left: 0;
  line-height: 30px;
  overflow: hidden;
  padding-left: 12px;
  padding-right: 12px;
  top: 0;
  width: 100%;
  display: block;
}

.checkout-b__select-wrapper p::after {
  content: "\f0d7";
  font-family: FontAwesome;
  position: absolute;
  font-size: 20px;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
  border-left: 1px solid #cecece;
  padding-left: 12px;
}

.checkout-b__active::after {
  content: "\f0d8" !important;
  font-family: FontAwesome;
}

.checkout-b__radio {
  padding-top: 14px;
}

.checkout-b__radio-row {
  padding-bottom: 14px;
  padding-left: 25px;
}

.checkout-b__radio-bt {
  display: none;
}

.checkout-b__radio-label {
  color: #191919;
  font-family: "PTSansNarrowRegular", sans-serif;
  font-size: 1.125em;
  display: inline-block;
  cursor: pointer;
  position: relative;
}

.checkout-b__radio-label::before {
  content: '';
  display: inline-block;
  width: 14px;
  height: 14px;
  background-image: url(../img/radio.png);
  background-repeat: no-repeat;
  background-position: left top;
  position: absolute;
  left: -25px;
  top: 4px;
}

.checkout-b__radio-fs {
  color: #65604d;
  font-family: "PTSansNarrowRegular", sans-serif;
  font-size: 0.75em;
  line-height: 1.25;
  display: block;
  padding-top: 2px;
}

.checkout-b__radio-fs:last-child {
  margin-top: 8px;
}

.checkout-b__radio-ss {
  color: #252e31;
  font-size: 0.75em;
  font-family: "PTSansNarrowRegular", sans-serif;
  text-decoration: underline;
}

.checkout-b__radio-ss:hover {
  text-decoration: none;
  color: #252e31;
}

.checkout-b__bottom {
  padding-left: 187px;
  padding-top: 8px;
}

.checkout-b__bottom-checkbox {
  display: inline-block;
  position: relative;
  margin-bottom: 40px;
}

.checkout-b__bottom-checkbox-input {
  margin-right: 10px;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}

.checkout-b__bottom-checkbox-label {
  color: #191919;
  font-family: "PTSansNarrowRegular", sans-serif;
  display: inline-block;
  padding-left: 28px;
}

.checkout-b__bottom-sum {
  padding-left: 10px;
  display: inline-block;
}

.checkout-b__bottom-sum-summa {
  font-family: "PTSansNarrowBold", sans-serif;
  color: #12152f;
  font-size: 1.125em;
  margin-left: 16px;
}

.checkout-b__bottom-button {
  display: inline-block;
  padding-left: 20px;
}

input[type=radio]:checked + .checkout-b__radio-label:before {
  background-position: right top;
}

.c-bar__title {
  color: #191919;
  font-family: "PTSansNarrowBold", sans-serif;
  font-size: 1.125em;
  margin-bottom: 5px;
}

.c-bar__row {
  padding: 6px 0;
}

.c-bar__link {
  font-family: "PTSansNarrowRegular", sans-serif;
  text-transform: uppercase;
  font-size: 0.875em;
  display: block;
  color: #4c4c4c;
  float: left;
  line-height: 1.25;
}

.c-bar__col {
  float: right;
  display: block;
  color: #191919;
  font-family: "PTSansNarrowRegular", sans-serif;
  font-size: 0.875em;
}

.c-bar__sum {
  border-top: 1px solid #191919;
  padding: 8px 0;
}

.c-bar__sum-summa {
  font-family: "PTSansNarrowBold", sans-serif;
  color: #12152f;
  font-size: 14px;
  margin-left: 7px;
  display: inline-block;
  vertical-align: middle;
}

.c-bar__sum-text {
  color: #191919;
  font-family: "PTSansNarrowRegular", sans-serif;
  display: inline-block;
  vertical-align: middle;
}

.c-bar__info {
  padding-top: 22px;
}

.c-bar__info-title {
  font-family: "OpenSansRegular", sans-serif;
  font-size: 1.125em;
  color: #191919;
}

.c-bar__info-link {
  color: #4c4c4c;
  font-family: "OpenSansRegular", sans-serif;
  font-size: 0.875em;
  line-height: 1.25;
  display: block;
  padding-top: 16px;
}

/*basket*/
.basket-wrapper {
  padding-top: 42px;
  padding-bottom: 54px;
}

.basket-left {
  padding-right: 12px;
  padding-left: 12px;
}

.basket-left__top {
  height: 30px;
  width: 100%;
  background-color: #dedede;
  line-height: 30px;
  font-family: "PTSansNarrowRegular", sans-serif;
  font-size: 0.875em;
  color: #191919;
}

.basket-left__top-tov {
  width: 46.71429%;
  margin-left: 10.85714%;
  float: left;
}

.basket-left__top-col {
  width: 28.28571%;
  float: left;
}

.basket-left__top-sto {
  width: 14.14286%;
  float: right;
}

.basket-left__item {
  height: 92px;
  border-bottom: 2px solid #dedede;
}

.basket-left__item-remove {
  width: 10.85714%;
  float: left;
  line-height: 90px;
}

.basket-left__item-remove-link {
  text-align: center;
  color: #da2413;
  font-family: "Arial", sans-serif;
  font-weight: bold;
  font-size: 18px;
  display: block;
}

.basket-left__item-remove-link:hover {
  color: #da2413;
}

.basket-left__item-tov {
  width: 46.71429%;
  float: left;
  padding: 7.5px 0;
}

.basket-left__item-tov-img {
  display: block;
  width: 79px;
  height: 77px;
  float: left;
}

.basket-left__item-tov-name {
  margin-left: 104px;
  text-transform: uppercase;
  font-size: 1em;
  font-family: "PTSansNarrowRegular", sans-serif;
  color: #191919;
  line-height: 1.50;
  margin-top: 10px;
}

.basket-left__item-tov-art {
  margin-left: 104px;
  display: block;
  font-family: "PTSansNarrowRegular", sans-serif;
  font-size: 0.75em;
  color: #191919;
  line-height: 1.25;
  padding-top: 2px;
}

.basket-left__item-col {
  width: 28.28571%;
  float: left;
  padding: 34px 0;
}

.basket-left__item-col-qt {
  display: inline-block;
  float: left;
  font-family: "PTSansNarrowRegular", sans-serif;
  font-size: 1.125em;
  color: #191919;
}

.basket-left__item-col-plus, .basket-left__item-col-minus {
  width: 23px;
  height: 23px;
  border-radius: 50%;
  background-color: #202e31;
  color: #fff;
  display: block;
  text-align: center;
  line-height: 19px;
  font-size: 28px;
  display: inline-block;
  vertical-align: middle;
  float: right;
  margin-right: 4px;
}

.basket-left__item-col-plus:hover, .basket-left__item-col-minus:hover {
  color: #fff;
}

.basket-left__item-col-plus:active, .basket-left__item-col-minus:active {
  color: #fff;
}

.basket-left__item-col-plus:focus, .basket-left__item-col-minus:focus {
  color: #fff;
}

.basket-left__item-col-minus {
  line-height: 16px;
  margin-right: 22%;
}

.basket-left__item-pay {
  width: 14.14286%;
  float: right;
  font-family: "PTSansNarrowRegular", sans-serif;
  font-size: 0.875em;
  color: #191919;
  line-height: 90px;
}

.basket-left__promo {
  text-align: center;
  border-bottom: 2px solid #dedede;
  padding: 7px 0;
}

.basket-left__promo-label {
  display: inline-block;
  font-family: "PTSansNarrowRegular", sans-serif;
  padding-right: 8px;
}

.basket-left__promo-input {
  width: 95px;
  display: inline-block;
}

.basket-left__pay {
  text-align: right;
  padding: 32px 0;
}

.basket-left__pay-text {
  display: inline-block;
  margin-right: 25px;
  color: #191919;
  font-family: "PTSansNarrowRegular", sans-serif;
  padding-right: 8px;
  vertical-align: middle;
}

.basket-left__pay-summa {
  display: inline-block;
  font-family: "PTSansNarrowBold", sans-serif;
  color: #12152f;
  font-size: 1.125em;
  margin-left: 7px;
  display: inline-block;
  vertical-align: middle;
  margin-right: 12px;
}

.basket-left__button {
  text-align: right;
}

.basket-left__button-bt {
  display: inline-block;
  background-color: #ffc13c;
  padding: 0 47px;
  height: 53px;
  line-height: 53px;
  color: #252e31;
  font-family: "PTSansNarrowRegular", sans-serif;
  font-size: 1.125em;
  border-radius: 4px;
  -webkit-box-shadow: 0px 2px 0px 0px #02080a;
  -moz-box-shadow: 0px 2px 0px 0px #02080a;
  box-shadow: 0px 2px 0px 0px #02080a;
}

.basket-right {
  padding-left: 12px;
}

.basket-right__title {
  font-family: "PTSansNarrowRegular", sans-serif;
  font-size: 1.125em;
  color: #191919;
}

.basket-right__description-paragraph {
  padding-top: 20px;
  display: block;
  font-family: "OpenSansRegular", sans-serif;
  font-size: 0.875em;
  line-height: 1.35;
}

.basket-right__description-bold {
  font-family: "OpenSansBold", sans-serif;
  color: #4c4c4c;
}

.basket-right__description-cash {
  font-family: "OpenSansBold", sans-serif;
  color: #1e1f26;
}

.basket-right__description-red {
  font-family: "PTSansBold", sans-serif;
  text-transform: uppercase;
  color: #da2413;
  font-size: 1.143em;
}

.no-slider-menu {
  padding-bottom: 0;
}

.menu__item-last::after {
  border-left: 8px solid #252e31;
}

.menu__link-last {
  background-color: #252e31;
  color: #fff;
}

.menu__link-last:hover {
  color: #fff;
}

/**/
.checkout-n {
  padding-right: 16px;
}

.checkout-n__item {
  padding-top: 7px !important;
}

.checkout-n__item:last-child .checkout-n__link {
  text-decoration: none;
}

.card-top {
  padding: 4px 12px 30px;
}

.card-top__title {
  font-family: "Exo2Bold", sans-serif;
  color: #202e31;
  font-size: 1.375em;
  line-height: 1.25;
  text-transform: uppercase;
}

.c-description {
  padding-right: 12px;
}

.c-description__art {
  color: #202e31;
  font-family: "PTSansNarrowRegular", sans-serif;
  font-size: 0.875em;
  padding-bottom: 3px;
}

.c-description__man {
  color: #202e31;
  font-family: "PTSansNarrowRegular", sans-serif;
  font-size: 0.875em;
  padding-bottom: 20px;
}

.c-description__man-link {
  color: #202e31;
  text-decoration: underline;
}

.c-description__pay {
  color: #202e31;
  font-family: "Exo2Bold", sans-serif;
  font-size: 1.875em;
  display: inline-block;
  line-height: 100%;
}

.c-description__pay-old {
  color: #f00;
  font-size: 1.125em;
  font-family: "PTSansNarrowRegular", sans-serif;
  text-decoration: line-through;
  line-height: 100%;
}

.c-description__pay-val {
  font-size: 14px;
  text-transform: uppercase;
  margin-left: 2px;
}

.c-description__button {
  text-transform: uppercase;
  font-family: "Exo2Bold", sans-serif;
  color: #fff;
  background-color: #609f46;
  padding: 0 30px;
  font-size: 1.375em;
  display: inline-block;
  height: 50px;
  line-height: 50px;
  border-radius: 4px;
  -webkit-box-shadow: 0px 2px 0px 0px #c8c8c8;
  -moz-box-shadow: 0px 2px 0px 0px #c8c8c8;
  box-shadow: 0px 2px 0px 0px #c8c8c8;
  margin-left: 22px;
}

.c-description__one-click {
  background-image: url(../img/smart-o/basket-oc.png);
  background-repeat: no-repeat;
  background-position: left center;
  padding-left: 30px;
  color: #f00;
  text-decoration: underline;
  display: inline-block;
}

.c-description__one-click:hover {
  color: #f00;
}

.c-description__one-click-wrapp {
  padding-top: 28px;
  padding-bottom: 40px;
}

.c-description__description {
  font-size: 0.875em;
  color: #202e31;
  font-family: "PTSansNarrowRegular", sans-serif;
  line-height: 1.5;
  letter-spacing: 0.5px;
  padding-bottom: 38px;
}

.c-description__description-bold {
  font-family: "PTSansNarrowBold", sans-serif;
}

.c-description__tabs-wrapper {
  border-bottom: 3px solid #ffc13c;
}

.c-description__tabs-item {
  font-family: "Exo2Bold", sans-serif;
  font-size: 0.75em;
  text-transform: uppercase;
  padding: 0 16px;
  line-height: 40px;
  height: 40px;
  float: left;
  display: block;
  background-color: #252e31;
  color: #fff;
  cursor: pointer;
  margin-left: 3px;
  position: relative;
}

.c-description__tabs-item::after {
  content: '';
  height: 0;
  width: 0;
  border-top: 11px solid #fff;
  border-left: 8px solid #252e31;
  position: absolute;
  top: 0;
  right: 0;
}

.c-description__tabs-item:first-child {
  margin-left: 0;
}

.c-description__tabs .active {
  background-color: #ffc13c;
  color: #252e31;
}

.c-description__tabs .active::after {
  height: 0;
  width: 0;
  border-top: 11px solid #fff;
  border-left: 8px solid #ffc13c;
}

.c-description__tabs-cont {
  height: 195px;
}

.c-description__tabs-cont-wp {
  padding: 12px 0;
}

.c-description__tabs-cont-item {
  font-family: "PTSansNarrowRegular", sans-serif;
  font-size: 0.875em;
  line-height: 1.5;
  color: #202e31;
}

.checkout-n__wrapper {
  position: relative;
}

.checkout-n__item__similar {
  padding-top: 0 !important;
}

.checkout-n__similar {
  font-size: 1.375em;
  font-family: "Exo2Bold", sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  text-decoration: none;
}

.checkout-n__similar-tr {
  position: absolute;
  width: 52px;
  height: 20px;
  right: 18px;
  top: 50%;
  margin-top: -7px;
  z-index: 999;
}

.checkout-n__similar-tr-left {
  height: 0;
  width: 0;
  border-bottom: 7px solid transparent;
  border-right: 12px solid #252e31;
  border-top: 7px solid transparent;
  position: absolute;
  left: 0;
  top: 0;
}

.checkout-n__similar-tr-right {
  height: 0;
  width: 0;
  border-bottom: 7px solid transparent;
  border-left: 12px solid #252e31;
  border-top: 7px solid transparent;
  position: absolute;
  right: 0;
  top: 0;
}

.quick-order-wp {
  max-width: 743px;
  margin: 0 auto;
  position: relative;
}

.quick-order-tov {
  width: 75% !important;
}

.quick-order-name, .quick-order-art {
  margin-left: 175px !important;
}

.quick-order-item {
  width: 100%;
  border-top: 2px solid #dedede;
  border-bottom: 2px solid #dedede;
  margin-bottom: 10px;
  margin-top: 10px;
}

.quick-order-pay {
  border-left: 1px solid #eaeaea;
  width: 23%;
  text-align: center;
}

/**/
.filter-row {
  display: inline-block;
  width: 412px;
  padding-top: 28px;
}

.filter-wp {
  padding: 0 12px;
}

.filter__label {
  display: inline-block;
  font-family: "PTSansNarrowRegular", sans-serif;
  font-size: 0.875em;
  height: 28px;
  line-height: 28px;
  float: left;
  margin-right: 14px;
  color: #202e31;
}

.filter__select {
  max-width: 260px;
  display: inline-block;
}

.filter__select-wrapper {
  max-width: 260px;
  display: inline-block;
  border-radius: 0;
  border: 1px solid #252e31;
  float: none;
}

.filter__input::after {
  border-left: none !important;
}

.pagination {
  display: inline-block;
  font-size: 0;
}

.pagination__wrapper {
  padding: 38px 12px 0;
}

.pagination__wrapper-down {
  padding: 0 12px 38px;
}

.pagination__text {
  display: inline-block;
  font-family: "PTSansNarrowRegular", sans-serif;
  font-size: 0.875em;
  color: #202e31;
}

.pagination__item {
  display: inline-block;
  height: 22px;
  border: 1px solid transparent;
  width: 22px;
  text-align: center;
  line-height: 22px;
  margin-left: 2px;
}

.pagination__item:first-child {
  margin-left: 0;
}

.pagination__item-active {
  border: 1px solid #202e31;
}

.pagination__item-first {
  height: 16px;
  padding-top: 2px;
}

.pagination__item-last {
  height: 16px;
  padding-top: 2px;
}

.pagination__link {
  font-size: 14px;
  color: #202e31;
  font-family: "PTSansNarrowRegular", sans-serif;
  display: block;
}

.pagination__link-first {
  height: 0;
  width: 0;
  border-bottom: 7px solid transparent;
  border-right: 12px solid #252e31;
  border-top: 7px solid transparent;
  margin: 0 auto;
}

.pagination__link-last {
  height: 0;
  width: 0;
  border-bottom: 7px solid transparent;
  border-left: 12px solid #252e31;
  border-top: 7px solid transparent;
  margin: 0 auto;
}

.f-description {
  padding: 0 12px 30px;
}

/**/
.catalog-w {
  padding-top: 20px;
  padding-bottom: 10px;
}

.catalog__item {
  width: 100%;
  height: 232px;
  border: 1px solid #cdcdd1;
  text-align: center;
  display: block;
  position: relative;
  margin-bottom: 18px;
}

.catalog__item:hover::after {
  content: '';
  border: 6px solid #ffc13c;
  display: block;
  position: absolute;
  top: -7px;
  left: -7px;
  right: -7px;
  bottom: -7px;
}

.catalog__img {
  display: block;
  width: 150px;
  height: 150px;
  margin: 12px auto;
}

.catalog__link {
  color: #202e31;
  font-family: "PTSansNarrowRegular", sans-serif;
  font-size: 1.125em;
  line-height: 1.25;
  display: inline-block;
}

.catalog__link-col {
  display: block;
  font-size: 0.778em;
}

.catalog-description-img {
  float: left;
}

/**/
.leaders {
  padding: 0 12px;
}

.leaders__wrapper {
  position: relative;
  min-height: 940px;
  padding-top: 30px;
}

.leaders__title {
  font-family: "Exo2Bold", sans-serif;
  font-size: 1.5em;
  color: #202e31;
  margin-bottom: 36px;
}

.leaders__description {
  color: #202e31;
  font-size: 1.125em;
  font-family: "PTSansNarrowRegular", sans-serif;
  line-height: 1.25;
  padding-bottom: 22px;
}

.leaders__description-bold {
  font-family: "PTSansNarrowBold", sans-serif;
}

.leaders__wp {
  float: right;
  width: 30%;
  position: relative;
  height: 440px;
}

.leaders__wp-wp {
  width: 204px;
  position: absolute;
  bottom: 53px;
  left: 50%;
  margin-left: -102px;
  padding-left: 15px;
}

.leaders__wp-wp::before {
  content: '';
  position: absolute;
  left: 0;
  top: 7px;
  width: 4px;
  height: 25px;
  background-color: #eec43d;
}

.leaders__wp-t {
  float: left;
  width: 61%;
  padding-top: 80px;
}

.leaders__wp-img {
  display: block;
  width: 100%;
}

.leaders__wp-name {
  color: #252e31;
  font-size: 1.5em;
  font-family: "Exo2Regular", sans-serif;
  text-transform: uppercase;
}

.leaders__wp-position {
  font-family: "Exo2Regular", sans-serif;
  color: #252e31;
  font-size: 0.875em;
  text-transform: uppercase;
}

.leaders__wp-contact {
  font-family: "Exo2Regular", sans-serif;
  color: #252e31;
  font-size: 0.875em;
}

.leaders__wp-contact-email {
  margin-top: 8px;
  display: block;
}

.oll-novelty {
  width: 100%;
  text-align: right;
  padding: 0 12px;
  padding-bottom: 30px;
}

.oll-novelty__link {
  display: inline-block;
  font-family: "PTSansNarrowBold", sans-serif;
  text-decoration: underline;
  color: #383843 !important;
}
