/*==========  Desktop First Method  ==========*/
/* Large Devices, Wide Screens */
@media only screen and (max-width: 1200px) {
  .checkout-b__bottom-button {
    padding-top: 20px;
    width: 100%;
    padding-left: 0;
  }
  .leaders__wp-wp {
    bottom: 72px !important;
  }
  /**/
}

/* Medium Devices, Desktops */
@media only screen and (max-width: 991px) {
  .c-bar {
    padding-top: 0 !important;
    padding-bottom: 40px;
  }
  .quick-order-wp {
    width: 100%;
  }
  .back-call {
    max-width: 80% !important;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .header-center__logo,
  .header-center__search,
  .header-center__authentication,
  .header-center__basket {
    padding: 1% 0 !important;
  }
  .phone {
    float: right;
  }
  .fmn {
    position: static !important;
  }
  .leaders-l {
    position: static !important;
  }
  .leaders__wp {
    width: 30%;
  }
  .filter__label {
    float: none;
  }
  .filter-row {
    width: 100%;
    padding-top: 10px;
  }
  .filter__label {
    display: block;
  }
  .c-description {
    padding-top: 10px;
  }
  .basket-right {
    padding-top: 20px;
  }
  .checkout-b__label, .checkout-b__input, .checkout-b__select-wrapper {
    display: block;
    width: 100%;
    text-align: left;
  }
  .checkout-b__bottom-checkbox-input {
    left: -22px;
  }
  .checkout-b__bottom-checkbox-label {
    padding-left: 0;
  }
  .checkout-b__bottom {
    padding-left: 0;
    text-align: center;
  }
  .checkout-b__bottom-sum {
    text-align: center;
    width: 100%;
    padding-left: 0;
  }
  .c-bar {
    padding-top: 40px;
  }
  .b-nav {
    display: none;
  }
  .phone {
    text-align: left;
  }
  .header-top__nav {
    float: left;
  }
  .nav {
    background-color: #202e31;
    position: absolute;
    z-index: 999;
    width: 100%;
    left: 0;
    right: 0;
    top: 50px;
    padding-left: 0;
    border-left: 2px solid #202e31;
    border-right: 2px solid #202e31;
    border-bottom: 2px solid #202e31;
    text-align: center;
    display: none;
  }
  .nav__toggle {
    display: inline-block;
  }
  .nav__toggle-icon {
    display: inline-block;
    font-size: 1.5em;
    display: block;
    line-height: 50px;
    color: #fff;
  }
  .nav__toggle-icon:hover {
    color: #fff;
  }
  .nav__toggle-icon:active {
    color: #fff;
  }
  .nav__toggle-icon:focus {
    color: #fff;
  }
  .nav__item {
    display: block;
    width: 100%;
  }
  .nav__link::after {
    display: none;
  }
  .header-center__logo,
  .header-center__search {
    width: 100%;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 16px;
  }
  .header-center__authentication,
  .header-center__basket {
    width: 50%;
  }
  .search,
  .authentication,
  .basket {
    margin: 0 auto;
  }
  .information {
    padding-left: 0;
    padding-right: 0;
  }
  .b-phone__number {
    text-align: right;
  }
  /**/
}

/* Small Devices, Tablets */
@media only screen and (max-width: 767px) {
  .basket-left__item-tov-art,
  .basket-left__item-tov-name {
    margin-left: 104px !important;
  }
  .products .col-md-3 {
    width: 50%;
    float: left;
  }
  .nav {
    left: 0;
    right: 0;
    width: 100%;
  }
  .leaders__wrapper {
    text-align: center;
    padding-bottom: 20px;
  }
  .leaders__wp-wp {
    position: static !important;
    width: 40% !important;
    display: inline-block;
    margin: 0 auto;
    height: 100% !important;
  }
  .leaders__wp-wp::before {
    display: none;
  }
  .leaders__wp-img {
    width: 40%;
    display: inline-block;
  }
  .leaders__wp {
    width: 100%;
    display: block;
    height: 100% !important;
  }
  .leaders__last, .leaders__wp {
    float: none;
    text-align: center !important;
  }
  .leaders__wp-t {
    width: 100%;
  }
  .leaders_first {
    float: none;
  }
  .filter-row {
    margin-top: 20px;
  }
  .basket-left__pay, .basket-left__button {
    text-align: center;
  }
  .basket-left__top-sto {
    width: 25%;
  }
  .basket-left__item-pay {
    width: 25%;
  }
  .basket-left__top-col, .basket-left__item-col {
    display: none;
  }
  .basket-left__top-tov {
    padding-left: 5px;
    width: 75%;
    margin-left: 0;
  }
  .basket-left__item-tov {
    width: 57.5714%;
  }
  .basket-left__item-remove {
    display: none;
  }
  .basket-left__item-col-minus, .basket-left__item-col-plus {
    display: none;
  }
  .information {
    text-align: center;
    padding-top: 20px;
  }
  .head-slider__slider {
    display: none;
  }
  .novelty {
    margin-top: 20px;
  }
  .slider-head-menu {
    padding-bottom: 0;
  }
  .head-slider__slider {
    margin-top: 0;
  }
  .menu {
    width: 100%;
  }
  .menu__item {
    width: 100%;
  }
  .menu__item:after {
    display: none;
  }
  .menu__link {
    width: 100% !important;
    display: block !important;
  }
  .back-call__row-c-first {
    width: 100%;
  }
  .back-call__row-c-last {
    width: 100%;
  }
  .back-call__info {
    margin-top: 2px;
  }
  /**/
}

/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {
  .basket-left__item-pay, .basket-left__item-tov {
    width: 100%;
    border-left: none;
  }
  .basket-left__item-tov-art,
  .basket-left__item-tov-name {
    margin-left: 90px !important;
  }
  .back-call {
    max-width: 90% !important;
  }
  .products .col-md-3 {
    width: 100%;
    float: none;
  }
  .checkout-n__wrapper {
    margin-bottom: 20px;
  }
  .leaders__wp-img {
    width: 100% !important;
  }
  .leaders__wp-wp {
    width: 100% !important;
  }
  .filter__description {
    text-align: center;
  }
  .catalog-description-img {
    display: inline-block;
    float: none;
  }
  .checkout-top {
    display: block;
  }
  .c-description__button {
    display: block;
    margin: 10px 30px 0;
    text-align: center;
  }
  .c-description__tabs-item {
    width: 100%;
    margin-left: 0;
  }
  .c-description__tabs-item::after {
    display: none;
  }
  .checkout-n__similar-tr {
    display: none;
  }
  .basket-left__item {
    height: 100%;
  }
  .checkout-b__top {
    display: none;
  }
  .checkout-b__first {
    width: 100%;
  }
  .checkout-b__last {
    width: 100%;
  }
  .checkout-b__radio {
    width: 100%;
    text-align: center;
  }
  .footer-bottom {
    padding-bottom: 30px;
  }
  .search__wrapper {
    width: 286px;
    margin: 0 auto;
  }
  .search__input {
    width: 188px;
  }
  .header-center__authentication {
    float: left;
    padding-left: 0;
  }
  /**/
}

/* Custom, iPhone Retina */
@media only screen and (max-width: 320px) {
  /**/
}

/*==========  Mobile First Method  ==========*/
/* Custom, iPhone Retina */
@media only screen and (min-width: 320px) {
  /**/
}

/* Extra Small Devices, Phones */
@media only screen and (min-width: 480px) {
  /**/
}

/* Small Devices, Tablets */
@media only screen and (min-width: 768px) {
  /**/
}

/* Medium Devices, Desktops */
@media only screen and (min-width: 992px) {
  .nav {
    display: block !important;
  }
  /**/
}

/* Large Devices, Wide Screens */
@media only screen and (min-width: 1200px) {
  /**/
}
